// out: ../css/style.min.css, sourcemap: false, compress: true
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
}
@color: #3498db;
.section{
  min-height: 100vh;
  line-height: 100vh;
  text-align: center;
  padding: 10px;
  .content-middle{
    line-height: 1.2;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    .form-contact{
      display: none;
      label{
        color: darken(@color, 20%);
      }
    }
  }
}
.section.layout{
  background-image: url(../webgallery/background.jpg);
  background-size: cover;
  #logo{
    width: 50%;
    filter:  invert(100%);
    .scale-animation;
  }
  #scroll-down{
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
    animation: mouseMove 2s infinite;
    img{
      width: 30px;
    }
  }
  @keyframes mouseMove{
    0%{
      bottom: 5px;
    }
    60%{
      bottom: 35px;
    }
    100%{
      bottom: 5px;
    }
  }
}
// animation logo
@keyframes scale {
  0%{
    transform: scale(2);
  }
  100%{
    transition: scale(0);
  }
}
.scale-animation{
  animation: scale 2s 1;
}

//// class general
.transition{
  transition-duration: 0.5s;
}
.white{
  background-color: white;
}
// button
.btn{
  border-radius: 100px;
  background-color: @color;
  color: white;
  padding: 10px 27px;
  margin: 10px auto;
  font-weight: 500;
  .transition;
  &:hover{
    padding: 10px 38px;
    background-color: darken(@color, 7%);
    color: white;
    .transition;
  }
}
.btn-lg{
  // width: 200px;
}
// input
.input{
  margin: 5px auto;
  border-radius: 100px;
  padding: 10px 27px;
  border: 2px solid @color;
  outline: none;
  text-align: center;
  // font-size: 18px;
  .transition;
  &:focus{
    padding: 10px 38px;
    background-color: lighten(@color, 44%);
    .transition;
  }
}
@media screen and (max-width: 768px){
  .section{
    min-height: 20vh;
    line-height: 20vh;
  }
  .section.layout{
    height: 100vh;
    line-height: 100vh;
    background-position: center;
    #logo{
      width: 80%;
      margin: 30px 0;
    }
  }
  .input{
    font-size: 16px;
  }
}
